<!doctype html>
<html lang=“en”>

<head>
    <title> {{ title }} </title>
    <link href="{{ url_for('static' , filename='css/contact.css') }}" rel="stylesheet"/>
</head>

<body>
    <h1> Contact Us </h1>
    <p> Do you have any thing you will want us to know, please get in touch with us </p>
    <p id="serverMessage" class="ft-3"></p>
    <main>
        <form action="/contact" method="post" enctype="multipart/form-data">
            <div>
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div>
                <label>Message</label>
                <textarea name="message">
                </textarea>
            </div>
            <div>
                <label>File</label>
                <input type="file" name="attachment">
            </div>
            <input type="submit" value="Submit">
        </form>
    </main>
    <script src="{{ url_for('static' , filename='js/contact.js') }}"></script>
</body>

</html>